* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  background: url(money.png);
  background-size: 50px auto;
  background-attachment: fixed;
  background-color: rgb(196, 255, 196);
  padding: 4rem;
}

.main-container {
    background: white;
    border-radius: 25px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.main-container h1 {
    border: 1px solid black;
    padding: 1rem;
    width: auto;
    border-radius: 25px;
    margin-bottom: 10px;
}

.balance {
    background: rgb(255, 224, 229);
    display: flex;
    padding: 1rem;
    width: 100% auto;
    border-radius: 25px;
    border: 1px solid black;
}

.current-balance {
    background: rgb(255, 224, 229);
    margin-right: 0px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spendature {
    background: rgb(255, 224, 229);
    padding: 1rem;
}

.transaction-container {
    margin: 0 auto;
    margin-top: 25px;
    background: white;
    padding: 2rem;
    border-radius: 25px;
    border: 1px solid black;
    width: 100%;
    max-width: 750px;
}

.new-transaction h2 {
    border: 1px solid black;
    max-width: 200px;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
}

#description, #amount {
    margin-top: 10px;
    max-width: 200px;
    padding: 5px;
}

#add {
    margin-top: 10px;
    max-width: 75px;
    padding: 5px;
    background: rgb(78, 78, 255);
    color: white;
}

.list-container {
    margin: 0 auto;
    margin-top: 25px;
    background: white;
    border: 1px solid black;
    border-radius: 25px;
    padding: 2rem;
    width: 100%;
    max-width: 750px;;
}

.list-container h2 {
    border: 1px solid black;
    text-align: center;
    max-width: 200px;
}

.list-container ul {
    margin-top: 10px;
}
