* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(background.jpg);
    background-size: 800px auto;
    padding: 2rem;
}



/*Title contianer designing*/
.title-container {
    background: white;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 25px;
    border: .5px solid rgb(220, 220, 220);
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.title-container:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    transition: 0.5s ease;
}

.title-container:not(:hover) {
    transition: 0.3s ease;
}



/* Balance contianer designing */
.balance-container {
    background: white;
    border: .5px solid rgb(220, 220, 220);
    padding: 2rem;
    margin:0 auto;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 800px ;
    margin-bottom: 15px;
}

.balance-container:hover {
    background: black;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

.balance-container:not(:hover) {
    transition: 0.3s ease;
}

.balance-container:not(:hover) {
    transition: 0.3s ease;
}

.balance-container:hover .income-expense-container{
    background: black;
    transition: 0.3s ease;
}

.balance-container:not(:hover) .income-expense-container{
    transition: 0.3s ease;
}

.balance-container:hover .balance {
    background: black;
    transition: 0.3s ease;
}

.balance-container:not(:hover) .balance {
    transition: 0.3s ease;
}

.balance {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.income-expense-container {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#income-amount {
    margin-bottom: 5px;
    font-weight: lighter;
    color: rgb(9, 212, 9);
}

#expense-amount {
    margin-top: 5px;
    font-weight: lighter;
    color: rgb(236, 7, 7);
}

/*Add Transaction Container designing */
.add-transaction-container {
    background: white;
    padding: 2rem;
    border: .5px solid rgb(220, 220, 220);
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 800px ;
    margin-bottom: 15px;
}

.add-transaction-container:hover {
    background: black;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

.add-transaction-container:not(:hover) {
    transition: 0.3s ease;
}

#form {
    display: flex;
    flex-direction: column;
}

#description, #amount{
    max-width: 320px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
}

#description:hover, #amount:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}

#description:not(:hover), #amount:not(:hover) {
    transition: 0.3s ease;
}

#add-button {
    max-width: 120px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    background: blue;
    color: white;
    font-weight: bold;
}

#add-button:hover {
    transform: scale(1.1);
    color: blue;
    background: white;
    transition: 0.3s ease;
}

#add-button:not(:hover) {
    transition: 0.3s ease;
}

/*Tansaction List Container */
.transaction-list-container {
    background: white;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 25px;
    border: .5px solid rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.transaction-list-container:hover {
    background: black;
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

.transaction-list-container:not(:hover) {
    transition: 0.3s ease;
}

#transaction-list {
    background: rgb(0, 0, 0);
}

